
body {
	background: fixed;
	/* border:2px solid  red; */
	background-image: url('../pic/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	margin:auto


}
input {
    
	border: 2px solid #999;
	color: #999;
}


#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 2.0em;
}
.container{
	position: relative;
	Right: -300px;
	font-size: 30px;
	outline: 2px solid white;
	width:30vw;
	height:60vh;
	margin: 25px;

}
.container{
text-align: center;
}
.title{
	font-family: arial;
	font-size: 24px;
	margin: auto;
	width: 60%;
	padding: 10px;
  
	color: rgb(82, 82, 125);
	display:flex;
	justify-content: center;
	
}